# .gitignore for Android
*.iml
.gradle
/local.properties
/.idea/
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
*.apk
*.ap_
*.aab
*.dex
*.class
bin/
gen/
out/
release/
.navigation/
*.hprof
*.orig
*~
*.swp
captures/
.externalNativeBuild/
.cxx/
*.log
*.pyc
__pycache__/
